/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


/* Navigation block */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    margin-bottom: 30px;
}

.logo img{
    width: 61.09px;
    height: 19px;
    /* border: 1px solid green; */
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 68px;
    position: relative;
    height: 35px;
    bottom: 22px;
}

.nav-links a{
    padding-top: 18px;
    font-size: 16px;
}

/* Effet de survol */
.nav-links a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 16px;
}

/* Search block */
.search-titre1{
    margin-bottom: 8px;
}

.search-titre2{
    font-size: 16px;
    margin-bottom: 35px;
}
.search-location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 377px;
    height: 49px;
    border-radius: 16px;
    border: 1px solid var(--main-bg-color);
    border-right: none;
    border-left: none;
    margin-bottom: 35px;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--main-bg-color);
}

.location i {
    color: black;
}

.lookup-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
#lookup-text {
    font-weight: bold; 
    text-align: center; 
    width: 100%;
    border: none;
    outline: none;
  }

.lookup-button{
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 132px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border: 1px solid var(--main-color);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

/* Filter block */
.filters {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 50px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.button-filter {
    padding: 10px 19px 10px 19px;
    background-color: white; /* Задай свій колір */
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

}
.button-filter i {
    margin-right: 10px;
    font-size: 22px;
}

.button-filter:hover {
    background-color: var(--filter-bg-color);
}

/* text info */
.info {
    display: flex;
    font-size: 16px;
    margin-bottom: 35px;
}
.info i {
    border-radius: 50%; /* Робимо іконку круглою */
    border: 1px solid #D9D9D9;
    /* padding: 5px; Простір всередині круга */
    font-size: 10px; /* Розмір іконки */
    margin-right: 10px; /* Відступ між іконкою та текстом */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px; /*Встановлюємо фіксовану ширину*/
    height: 24px; /*Встановлюємо фіксовану висоту*/
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}